.auth-form {
  width: 50vh;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}

auth-form__subtitle {
  color: grey;
}

auth-form__input {
  margin: 20px;
}

auth-form__form {
  max-width: 400px;
}
