.auth-form {
  width: 50vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  text-align: center;
}

.auth-form__subtitle {
  color: grey;
}

.auth-form__form {
  max-width: 400px;
}

.authform__success-text {
  color: green;
}
